<section id="malt-section" class="page-section malt">
  <div class="page-wrapper">

    <div class="row">
      <div class="section-description">
        <h2 class="section-title"><%= partial "partials/svg/malt" %>Malt</h2>
        <p>Malt is the main source of fermentable sugar in beer and are the
        cause of grainy flavors in beer. Malt can be made from rye, wheat, oats,
        and – the most common – barley. The type of malt used affects the color,
        flavor, and mouthfeel of the beer.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="list-interactions">
        <ul class="section-list">
          <li class="list-stack malt-active">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Base Malt</h3>
          </li>
          <li class="list-stack">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Caramel Malt</h3>
          </li>
          <li class="list-stack">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Kilned Malt</h3>
          </li>
          <li class="list-stack">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Roasted Malt</h3>
          </li>
        </ul>
      </div>

      <div class="section-information-large">
        <h4 class="information-title">Base Malt</h4>
        <span>Flavors</span>
        <p>Work in progress...</p>
        <span>Colors</span>
        <p>Work in progress...</p>
      </div>
    </div>
  </div>
</section>
