<section class="page-section water">
  <div class="page-wrapper">
    <div class="row">
      <div class="section-description">
        <h2 class="section-title"><span class="section-title-i"></span>Water</h2>
        <p>Water can make or break your beer. Most breweries have their water
        filtration process down to a science whereas some smaller breweries let
        the local water shape the beer they brew. Since beer is about 90% water,
        it might be prudent to understand some basic chemistry and how the
        chemical makeup of water will affect your brew. And it would be smart to
        ask your local water supply for a profile so you can plan
        accordingly.</p>
      </div>
    </div>

    <div class="row">
      <div class="list-interactions">
        <ul class="section-list">
          <li class="list-columns water-active">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Carbonate (CO3) &amp; Bicarbonate (HCO3)</h3>
          </li>
          <li class="list-columns">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Sodium (Na)</h3>
          </li>
          <li class="list-columns">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Chloride (Cl)</h3>
          </li>
          <li class="list-columns">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Sulfate (SO4)</h3>
          </li>
          <li class="list-columns">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Calcium (Ca)</h3>
          </li>
          <li class="list-columns">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Magnesium (Mg)</h3>
          </li>
        </ul>

        <div class="section-information">
          <h4 class="information-title">Carbonate &amp; Bicarbonate</h4>
          <span>Affects on brew</span>
          <p>Determines the acidity of the mash and temporary hardness of the
          water. If the levels are too high, the <a href="#">mash</a> becomes
          too acidic. If the levels are too low, the efficiency of the mash
          decreases.</p>
          <span>What this means for you</span>
          <p>Pre-boil your water, hoes.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
