---
title: Brew Love
---

  <%= partial "partials/site-navigation" %>
    <header class="landing">
      <div class="page-wrapper">
        <h1 class="landing-header">
          <div class="logo">
            <%= image_tag "brewlove-logo.png" %>
          </div>
        </h1>
        <h2 class="landing-subheader">
          Expand your beer horizons and discover your new favorite brew.
          <div class="p-callout">Now let's get drunk</div>
        </h2>
      </div>
    </header>

    <%= partial "partials/ingredients-navigation" %>
    <%= partial "partials/water-section" %>
    <%= partial "partials/malt-section" %>
    <%= partial "partials/hops-section" %>
    <%= partial "partials/yeast-section" %>
